<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://rsms.me/inter/inter-ui.css">
  <link rel="stylesheet" href="./style.css">
  <title>Empory</title>
</head>
  <body>
    <div>
      <!--Menú general-->
      <nav class="navbar navbar-expand-lg" class="container-fluid">
        <!--Inicio Submenu-->
        <div class="btn-group">
          <span data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
          </span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./index.html">Inicio</a></li>
            <li><a class="dropdown-item" href="#catalogo">Catalogo</a></li>
          </ul>
        </div>
        <!--Fin Submenu-->

        <!-- Titulo-->
        <ul class="navbar-nav mr-auto">
          <h1 class="display-4">EMPORY</h1>
        </ul>
        <ul class="navbar-nav">
          <li>
            <!--Inicio Buscar-->
            <form class="form-inline">
              <input id="buscar" class="form-control mr-sm-2" type="search" aria-label="Search">
              <button class="btn btn-outline-secondary" type="button" onclick="buscarProducto()">Buscar</button>
            </form>
            <!--Fin buscar-->
          </li>
        </ul>
        <ul>
          <!--Botón inicio sesión-->
          <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Iniciar sesión
          </button>
        </ul>
        
        <!--Inicio de sesión-->
        <div id="id01" class="modal">
          <form class="modal-content animate" action="http://localhost/login.php" method="POST">
            <div class="container">
              <h4 class="display-4">BIENVENIDO</h4>
            </div>
            <div class="container">
              <label for="exampleDropdownFormEmail2" class="form-label">Correo electronico</label>
              <input type="email" class="form-control" id="emaiLogin" name="emaiLogin" placeholder="email@example.com" required>
            </div>
            <div class="container">
              <label for="exampleDropdownFormPassword2" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="passwordLogin" name="passwordLogin" placeholder="Contraseña" required>
            </div>
            <div class="container">
              <div class="container">
                <span class="psw">¿No tienes cuenta?
                  <button onclick="document.getElementById('id03').style.display='block'" class="btn btn-transparent" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Registrarse
                  </button>
                </span>
              </div>
            </div>
            <div class="container">
              <input type="submit" class="btn btn-outline-success" value="Entrar">
		            <p class="error-message" id="error-message"></p>
              <!--<span class="psw"><a href="#">Recuperar la contraseña</a></span>>-->
              </div>
          </form>
        </div>
        <!--Fin inicio sesión-->

        <!--Inicio formulario de registro-->
        <div id="id03" class="modal">
          <div class="modal-content-reg animate">
            <div class="container">
              <form class="formreg" id="register" action="http://localhost/registro.php" method="POST">
                <h2>Registro</h2>
                <label for="nombre">Nombre:</label>
                <input class="form-control"type="text" id="nombre" name="nombre" required>
                <label for="email">Email:</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <label for="contrasena" >Contraseña:</label>
                <input class="form-control" size="12" type="password" id="contrasena" name="contrasena" required>
                <label for="confirmar-contrasena">Confirmar Contraseña:</label>
                <input class="form-control" size="12" type="password" id="confirmar-contrasena" name="confirmar-contrasena" required>
                <label for="direccion">Dirección:</label>
                <input class="form-control" type="text" id="direccion" name="direccion" required>
                <label for="telefono">Teléfono:</label>
                <input class="form-control" type="number" min="1" max="99999999999" id="telefono" name="telefono" required><br>
                <input class="btn btn-outline-success" value="Registrarse" onclick="comprobarClave()">
		            <p class="error-message" id="error-message"></p>
              </form>
            </div>
          </div>
        </div>
        <!--Fin formulario de registro-->
      </nav>
      <!--Fin menú general-->
        
      <!--Inicio carousel--> 
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/carousel/carousel1.webp" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="./images/carousel/carousel2.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="./images/carousel/carousel3.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="./images/carousel/carousel4.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="./images/carousel/carousel5.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100">
          </div>
        </div>
          <span class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
              <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
            </svg>
          </span>
        </button>
          <span class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
              <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
            </svg>
          </span>
        </button>
      </div>
      <!-- Fin carousel -->

      <!-- Inicio botones de filtro -->
      <div id="categorias">
        <div class="container">
          <button class="btn btn-outline-secondary" onclick="filterall()">Todo</button>
          <button class="btn btn-outline-secondary" onclick="filtercam()">Blusa</button>
          <button class="btn btn-outline-secondary" onclick="filterpan()">Camisa</button>
          <button class="btn btn-outline-secondary" onclick="filtersac()">Pantalon</button>
          <button class="btn btn-outline-secondary" onclick="filtercha()">Falda</button>
          <button class="btn btn-outline-secondary" onclick="filtercor()">Vestido</button>
          <button class="btn btn-outline-secondary" onclick="filtercor()">Rebozo</button>
        <button  class="btn btn-outline-secondary" class="dropdown-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">Color</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" onclick="filterall()">Todo</a></li>
          <li><a class="dropdown-item" onclick="filterneg()">Negro</a></li>
          <li><a class="dropdown-item" onclick="filterbla()">Blanco</a></li>
          <li><a class="dropdown-item" onclick="filterazu()">Azul</a></li>
          <li><a class="dropdown-item" onclick="filtergris()">Gris</a></li>
          <li><a class="dropdown-item" onclick="filterroj()">Rojo</a></li>
          <li><a class="dropdown-item" onclick="filterbei()">Beige</a></li>
        </ul>
        <button  class="btn btn-outline-secondary" class="dropdown-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">Talla</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" onclick="filterall()">Todo</a></li>
          <li><a class="dropdown-item" onclick="filters()">S</a></li>
          <li><a class="dropdown-item" onclick="filterm()">M</a></li>
          <li><a class="dropdown-item" onclick="filterg()">G</a></li>
        </ul>
      </div>
      <!-- Fin botones de filtro -->

      <!-- Inicio productos -->
      <div id="catalogo">
        <div class="container">
          <span><h2>Vestido Bordado</h2></span>
          <div id="items" class="col-sm-25 row"></div>
          <div id="producto"></main>
        </div>
      </div>
      <!-- Fin productos -->

      <!--Botón de scroll-->
      <span class="ir-arriba icon-arrow-up2">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
      </span>
      <!--Fin Botón de scroll-->
    </div>
  </body>
</html>

<script>
  // Variables
  var divisa = '$';
  var DOMproducto = document.querySelector('#producto');
  var DOMitems = document.querySelector('#items');
  var modal = document.getElementById('id01');
  var cart = document.getElementById('id02');
  var reg = document.getElementById('id03');
  var inputTel =  document.getElementById('telefono');
  
  let base = [];
  let des = [];

  //Recibir la base de datos
  function consultar(){
        const peticion = new XMLHttpRequest();
        
        peticion.addEventListener("load", () => {
            respuesta = peticion.response;
            
            base = JSON.parse(respuesta)
            console.log(base);
        });

        peticion.open("GET", "http://localhost/inventario.php");
        peticion.send();

    };

  // Hacer click fuera del modal cierre automático 
  window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
      if(event.target == cart){
        cart.style.display = "none";
      }
      if(event.target== reg){
        reg.style.display = "none";
      }
  }

  // funciones de filtrado para los productos
  function filterall() {
    renderizarProductos(base);
  }
  function filtercam() {
    let camisas = base.filter(producto => producto.Categoria_IDCategoria == 1)
    renderizarProductos(camisas);
  }
  function filtercor() {
    let corbatas = base.filter(producto => producto.Categoria_IDCategoria == 2)
    renderizarProductos(corbatas);
  }
  function filtercha() {
    let chalecos = base.filter(producto => producto.Categoria_IDCategoria == 3)
    renderizarProductos(chalecos);
  }
  function filtersac() {
    let sacos = base.filter(producto => producto.Categoria_IDCategoria == 4)
    renderizarProductos(sacos);
  }
  function filterpan() {
    let pantalones = base.filter(producto => producto.Categoria_IDCategoria == 5)
    renderizarProductos(pantalones);
  }
  function filterneg() {
    let negro = base.filter(producto => producto.Color == "negro")
    renderizarProductos(negro);
  }
  function filterbla() {
    let blanco = base.filter(producto => producto.Color == "blanco")
    renderizarProductos(blanco);
  }
  function filterazu() {
    let azul = base.filter(producto => producto.Color == "azul")
    renderizarProductos(azul);
  }
  function filtergris() {
    let gris = base.filter(producto => producto.Color == "gris")
    renderizarProductos(gris);
  }
  function filterroj() {
    let rojo = base.filter(producto => producto.Color == "rojo")
    renderizarProductos(rojo);
  }
  function filterbei() {
    let beige = base.filter(producto => producto.Color == "beige")
    renderizarProductos(beige);
  }
  function filters() {
    let pequeño = base.filter(producto => producto.Talla == "S")
    renderizarProductos(pequeño);
  }
  function filterm() {
    let mediano = base.filter(producto => producto.Talla == "M")
    renderizarProductos(mediano);
  }
  function filterg() {
    let grande = base.filter(producto => producto.Talla == "G")
    renderizarProductos(grande);
  }
  
  //Buscar el producto en la base de datos
  function buscarProducto(){
    var filtrar = document.getElementById('buscar').value;
    document.getElementById('buscar').value = "";
    let search = base.filter(producto => producto.nombre == filtrar )
    renderizarProductos(search);
  }

  //Dibuja todos los productos a partir de la base de datos
  function renderizarProductos(base) {
    DOMproducto.textContent = '';
    DOMitems.textContent = '';
      base.forEach((info) => {
          // Estructura
          const miNodo = document.createElement('div');
          miNodo.classList.add('card', 'col-sm-3');
          // Body
          const miNodoCardBody = document.createElement('div');
          miNodoCardBody.classList.add('card-body');
          // Titulo
          const miNodoTitle = document.createElement('h5');
          miNodoTitle.classList.add('card-title');
          miNodoTitle.textContent = info.nombre;
          // Imagen
          const miNodoImagen = document.createElement('img');
          miNodoImagen.classList.add('img-fluid');
          miNodoImagen.setAttribute('src', info.Imagen);
          // Precio
          const miNodoPrecio = document.createElement('p');
          miNodoPrecio.classList.add('card-text');
          miNodoPrecio.textContent = `${divisa}${info.Precio}`;
          //Ver más
          const miNodoBotonDes = document.createElement('button');
          miNodoBotonDes.classList.add('btn', 'btn-primary');
          miNodoBotonDes.textContent = 'Ver más';
          miNodoBotonDes.setAttribute('descripcion', info.IDProductos);
          miNodoBotonDes.addEventListener('click', descripcionProducto);
          // Insertamos
          miNodoCardBody.appendChild(miNodoImagen);
          miNodoCardBody.appendChild(miNodoTitle);
          miNodoCardBody.appendChild(miNodoPrecio);
          miNodoCardBody.appendChild(miNodoBotonDes);
          miNodo.appendChild(miNodoCardBody);
          DOMitems.appendChild(miNodo);
      });
  }

  //Identificar el producto seleccionado para ver más
  function descripcionProducto(evento) {
    des = evento.target.getAttribute('descripcion');
    base.forEach((info) => {
        if(info.IDProductos == des){
          des = info;
          renderizarDetalles(info);
        }
    });
  }
  
  //Renderizar los detalles de un producto
  function renderizarDetalles() {
    DOMitems.textContent = '';
    DOMproducto.textContent = '';
          // Estructura
          const miNodo = document.createElement('div');
          miNodo.classList.add('card', 'col-sm-10');
          // Body
          const miNodoCardBody = document.createElement('div');
          miNodoCardBody.classList.add('card-body');
          // Titulo
          const miNodoTitle = document.createElement('h3');
          miNodoTitle.classList.add('card-title');
          miNodoTitle.textContent = des.nombre;
          // Imagen
          const miNodoImagen = document.createElement('img');
          miNodoImagen.classList.add('img', 'myimg');
          miNodoImagen.setAttribute('src', des.Imagen);
          // Precio
          const miNodoPrecio = document.createElement('h4');
          miNodoPrecio.classList.add('card-text');
          miNodoPrecio.textContent = `${divisa}${des.Precio}`;
          // Material
          const miNodoMaterial = document.createElement('h5');
          miNodoMaterial.classList.add('card-text');
          miNodoMaterial.textContent = "Material: "+ des.Material;
          // Color
          const miNodoColor = document.createElement('h5');
          miNodoColor.classList.add('card-text');
          miNodoColor.textContent = "Color: "+ des.Color;
          // Talla
          const miNodoTalla = document.createElement('h5');
          miNodoTalla.classList.add('card-text');
          miNodoTalla.textContent = "Talla disponible: "+ des.Talla;
          //Comentarios
          const miNodoComentarios = document.createElement('h5');
          miNodoComentarios.classList.add('card-text');
          miNodoComentarios.textContent = "Comentarios: "+ des.Comentarios;
          // Insertamos
          miNodoCardBody.appendChild(miNodoImagen);
          miNodoCardBody.appendChild(miNodoTitle);
          miNodoCardBody.appendChild(miNodoMaterial);
          miNodoCardBody.appendChild(miNodoColor);
          miNodoCardBody.appendChild(miNodoTalla);
          miNodoCardBody.appendChild(miNodoPrecio);
          miNodoCardBody.appendChild(miNodoComentarios);
          miNodo.appendChild(miNodoCardBody);
          DOMproducto.appendChild(miNodo);
  }

  //Comprobar que las contraseñas coincidan en el registro
  function comprobarClave() {
    let clave1 = document.getElementById("contrasena").value;
    let clave2 = document.getElementById("confirmar-contrasena").value;
    if (clave1 != clave2) {
      alert("Las contraseñas no coinciden")
      clave1 = "";
      clave2 = "";
    }else{
      alert("Registro realizado")
      let formulario = document.getElementById('register');
      formulario.submit();
    }
  }

  //Restricciones del telefono el el registro
  inputTel.addEventListener('input',function(){
    if (this.value.length > 10) 
      this.value = this.value.slice(0,10); 
  })

  //Scroll
  $(document).ready(function(){
    $('.ir-arriba').click(function(){
      $('body, html').animate({
        scrollTop: '0px'
      }, 300);
    });
    $(window).scroll(function(){
      if( $(this).scrollTop() > 0 ){
        $('.ir-arriba').slideDown(300);
      }else {
        $('.ir-arriba').slideUp(300);
      }
    });
  });

  renderizarProductos(base);
  consultar();
</script>
